experia/experia_albert.json
{
  "name": "Experia Albert — Proxy IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "experia_albert",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "alb-0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst { messages, model, apiKey, temperature } = body;\n\nif (!messages || !apiKey) {\n  return [{ json: { error: 'messages et apiKey requis' } }];\n}\n\ntry {\n  const response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://albert.api.etalab.gouv.fr/v1/chat/completions',\n    headers: {\n      'Authorization': 'Bearer ' + apiKey,\n      'Content-Type': 'application/json'\n    },\n    body: JSON.stringify({\n      model: model || 'albert-small',\n      messages: messages,\n      temperature: temperature || 0.3,\n      max_tokens: 3000\n    }),\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n\n  if (response.statusCode >= 400) {\n    return [{ json: { error: 'Albert API erreur ' + response.statusCode + ': ' + JSON.stringify(response.body).substring(0, 200) } }];\n  }\n\n  const data = typeof response.body === 'string' ? JSON.parse(response.body) : response.body;\n  return [{ json: data }];\n\n} catch(e) {\n  return [{ json: { error: e.message } }];\n}"
      },
      "id": "alb-0002",
      "name": "Code Albert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "alb-0003",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook":      { "main": [[{ "node": "Code Albert", "type": "main", "index": 0 }]] },
    "Code Albert":  { "main": [[{ "node": "Répondre",    "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "experia-albert-v1",
  "id": "experia-albert-v1",
  "tags": []
}
