experia/experia_n8n_workflow.json
{
  "name": "Experia Proxy",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "experia-proxy",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "c1a0b2d3-0001-4001-8001-abcdef000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "experia-proxy"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// ===== CONFIGURATION - À MODIFIER =====\nconst NUAGE_USER   = 'votre_identifiant';\nconst NUAGE_PASS   = 'votre_mot_de_passe_appli';\nconst NUAGE_SERVER = 'nuage03.apps.education.fr';\nconst ALBERT_KEY   = 'sk-votre_cle_albert';\nconst PROF_SECRET  = 'votre_secret_prof';\n// =======================================\n\nconst body = $input.first().json.body || {};\nconst { action } = body;\nif (!action) return [{ json: { error: 'action requise' } }];\n\nconst nuageAuth = () => 'Basic ' + Buffer.from(`${NUAGE_USER}:${NUAGE_PASS}`).toString('base64');\nconst nuageBase = () => {\n  let s = NUAGE_SERVER.replace('https://', '').replace('http://', '');\n  if (s.endsWith('/')) s = s.slice(0, -1);\n  return `https://${s}/remote.php/dav/files/${encodeURIComponent(NUAGE_USER)}/experia/`;\n};\n\nconst hGet = (url, h={}) => fetch(url, { headers: { Authorization: nuageAuth(), ...h } });\nconst hPut = (url, d) => fetch(url, { method: 'PUT', headers: { Authorization: nuageAuth(), 'Content-Type': 'application/octet-stream' }, body: d });\nconst hMkcol = (url) => fetch(url, { method: 'MKCOL', headers: { Authorization: nuageAuth() } });\nconst hDel = (url) => fetch(url, { method: 'DELETE', headers: { Authorization: nuageAuth() } });\n\nconst readManifest = async () => {\n  const r = await hGet(nuageBase() + 'manifest.json');\n  if (r.status !== 200) return [];\n  try { const p = JSON.parse(await r.text()); return Array.isArray(p) ? p : []; } catch { return []; }\n};\nconst saveManifest = (m) => hPut(nuageBase() + 'manifest.json', JSON.stringify(m));\n\nlet res;\n\nif (action === 'readSession') {\n  const { sessionId } = body;\n  if (!sessionId) { res = { success: false, error: 'sessionId requis' }; }\n  else {\n    const fn = (sessionId.startsWith('session_') ? sessionId : 'session_' + sessionId) + '.json';\n    const r = await hGet(nuageBase() + encodeURIComponent(fn));\n    if (r.status === 404) res = { success: false, error: 'Session introuvable' };\n    else if (r.status >= 400) res = { success: false, error: 'Erreur ' + r.status };\n    else {\n      try {\n        const c = JSON.parse(await r.text());\n        const { apiKey: _a, nuagePass: _p, nuageUser: _u, ...safe } = c;\n        res = { success: true, content: safe };\n      } catch(e) { res = { success: false, error: e.message }; }\n    }\n  }\n} else if (action === 'writeResult') {\n  const { sessionId, studentId, data } = body;\n  if (!sessionId || !studentId) { res = { success: false, error: 'sessionId et studentId requis' }; }\n  else {\n    const ss = studentId.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 64);\n    const fn = `result_${sessionId}_${ss}.json`;\n    const d = typeof data === 'string' ? data : JSON.stringify(data, null, 2);\n    let r = await hPut(nuageBase() + encodeURIComponent(fn), d);\n    if ([404,405,409].includes(r.status)) { await hMkcol(nuageBase()); r = await hPut(nuageBase() + encodeURIComponent(fn), d); }\n    if (r.status >= 400) { res = { success: false, error: 'Erreur ecriture ' + r.status }; }\n    else { const m = await readManifest(); if (!m.includes(fn)) m.push(fn); await saveManifest(m); res = { success: true }; }\n  }\n} else if (action === 'readResult') {\n  const { sessionId, studentId } = body;\n  if (!sessionId || !studentId) { res = { success: false, error: 'sessionId et studentId requis' }; }\n  else {\n    const ss = studentId.replace(/[^a-zA-Z0-9]/g, '-').substring(0, 64);\n    const fn = `result_${sessionId}_${ss}.json`;\n    const r = await hGet(nuageBase() + encodeURIComponent(fn));\n    if (r.status === 404) res = { success: false, error: 'Resultat introuvable' };\n    else if (r.status >= 400) res = { success: false, error: 'Erreur ' + r.status };\n    else { try { res = { success: true, content: JSON.parse(await r.text()) }; } catch(e) { res = { success: false, error: e.message }; } }\n  }\n} else if (action === 'albert') {\n  const { messages, model, temperature = 0.3 } = body;\n  if (!messages) { res = { error: 'messages requis' }; }\n  else {\n    const r = await fetch('https://albert.api.etalab.gouv.fr/v1/chat/completions', {\n      method: 'POST',\n      headers: { Authorization: `Bearer ${ALBERT_KEY}`, 'Content-Type': 'application/json' },\n      body: JSON.stringify({ model: model || 'openai/gpt-oss-120b', messages, temperature, max_tokens: 3000 })\n    });\n    const d = await r.json();\n    res = r.status >= 400 ? { error: 'Albert erreur ' + r.status, detail: d } : d;\n  }\n} else if (!PROF_SECRET || body.profSecret !== PROF_SECRET) {\n  res = { success: false, error: 'Secret professeur invalide.' };\n} else if (action === 'test') {\n  let s = NUAGE_SERVER.replace('https://', '').replace('http://', '');\n  if (s.endsWith('/')) s = s.slice(0, -1);\n  const r = await fetch(`https://${s}/ocs/v1.php/cloud/user?format=json`, {\n    headers: { Authorization: nuageAuth(), 'OCS-APIREQUEST': 'true' }\n  });\n  if (r.status === 401 || r.status === 403) res = { success: false, error: 'Credentials Nuage invalides - verifiez NUAGE_USER et NUAGE_PASS dans le noeud Code.' };\n  else if (r.status !== 200) res = { success: false, error: 'Erreur OCS : ' + r.status };\n  else { await hMkcol(nuageBase()); res = { success: true, user: NUAGE_USER, server: s }; }\n} else if (action === 'listModels') {\n  const r = await fetch('https://albert.api.etalab.gouv.fr/v1/models', { headers: { Authorization: `Bearer ${ALBERT_KEY}` } });\n  const d = await r.json();\n  res = r.status >= 400 ? { error: 'Albert erreur ' + r.status } : d;\n} else if (action === 'list') {\n  try { res = { success: true, files: (await readManifest()).map(n => ({ name: n })) }; }\n  catch(e) { res = { success: false, error: e.message }; }\n} else if (action === 'read') {\n  const { filename } = body;\n  if (!filename) { res = { success: false, error: 'filename requis' }; }\n  else {\n    const r = await hGet(nuageBase() + encodeURIComponent(filename));\n    if (r.status === 404) res = { success: false, error: 'Fichier introuvable' };\n    else if (r.status >= 400) res = { success: false, error: 'Erreur lecture ' + r.status };\n    else { try { res = { success: true, content: JSON.parse(await r.text()) }; } catch(e) { res = { success: false, error: e.message }; } }\n  }\n} else if (action === 'write') {\n  const { filename, content } = body;\n  if (!filename) { res = { success: false, error: 'filename requis' }; }\n  else {\n    const d = typeof content === 'string' ? content : JSON.stringify(content, null, 2);\n    let r = await hPut(nuageBase() + encodeURIComponent(filename), d);\n    if ([404,405,409].includes(r.status)) { await hMkcol(nuageBase()); r = await hPut(nuageBase() + encodeURIComponent(filename), d); }\n    if (r.status >= 400) { res = { success: false, error: 'Erreur ecriture ' + r.status }; }\n    else { const m = await readManifest(); if (!m.includes(filename)) m.push(filename); await saveManifest(m); res = { success: true, action: 'write' }; }\n  }\n} else if (action === 'delete') {\n  const { filename } = body;\n  if (!filename) { res = { success: false, error: 'filename requis' }; }\n  else {\n    await hDel(nuageBase() + encodeURIComponent(filename));\n    const m = await readManifest();\n    await saveManifest(m.filter(n => n !== filename));\n    res = { success: true, action: 'delete' };\n  }\n} else {\n  res = { success: false, error: 'Action inconnue : ' + action };\n}\n\nreturn [{ json: res }];"
      },
      "id": "d2b1c3e4-0002-4002-8002-abcdef000002",
      "name": "Traitement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "e3c2d4f5-0003-4003-8003-abcdef000003",
      "name": "Repondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Traitement", "type": "main", "index": 0 }]]
    },
    "Traitement": {
      "main": [[{ "node": "Repondre", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
