mentoria/mentoria_storage.json
{
  "name": "Mentoria Storage — Nuage apps.edu",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mentoria_storage",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "c1a2b3d4-e5f6-7890-aaaa-111111111101",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst { action, username, password, filename, content } = body;\n\nif (!username || !password) {\n  return [{ json: { success: false, error: 'Identifiants manquants' } }];\n}\n\nconst baseUrl = `https://nuage.apps.education.fr/remote.php/dav/files/${encodeURIComponent(username)}/Mentoria/`;\nconst manifestUrl = baseUrl + 'manifest.json';\nconst auth = 'Basic ' + Buffer.from(`${username}:${password}`).toString('base64');\n\nconst httpGet = async (url, extraHeaders) => {\n  return await this.helpers.httpRequest({\n    method: 'GET', url,\n    headers: { 'Authorization': auth, ...(extraHeaders || {}) },\n    returnFullResponse: true, ignoreHttpStatusErrors: true\n  });\n};\n\nconst httpPut = async (url, data) => {\n  return await this.helpers.httpRequest({\n    method: 'PUT', url,\n    headers: { 'Authorization': auth, 'Content-Type': 'application/json' },\n    body: typeof data === 'string' ? data : JSON.stringify(data),\n    returnFullResponse: true, ignoreHttpStatusErrors: true\n  });\n};\n\nconst httpDelete = async (url) => {\n  return await this.helpers.httpRequest({\n    method: 'DELETE', url,\n    headers: { 'Authorization': auth },\n    returnFullResponse: true, ignoreHttpStatusErrors: true\n  });\n};\n\nconst getManifest = async () => {\n  const r = await httpGet(manifestUrl);\n  if (r.statusCode === 200) {\n    try { return typeof r.body === 'string' ? JSON.parse(r.body) : (Array.isArray(r.body) ? r.body : []); }\n    catch { return []; }\n  }\n  return [];\n};\n\nconst saveManifest = async (list) => {\n  await httpPut(manifestUrl, JSON.stringify(list));\n};\n\ntry {\n\n  // ── TEST : vérification identifiants via OCS ──\n  if (action === 'test') {\n    const r = await httpGet(\n      'https://nuage.apps.education.fr/ocs/v1.php/cloud/user?format=json',\n      { 'OCS-APIREQUEST': 'true' }\n    );\n    if (r.statusCode === 401 || r.statusCode === 403) {\n      return [{ json: { success: false, error: 'Identifiants invalides — vérifiez votre mot de passe d\\'application.' } }];\n    }\n    if (r.statusCode !== 200) {\n      return [{ json: { success: false, error: 'Erreur connexion Nuage: ' + r.statusCode } }];\n    }\n    // Crée le dossier Mentoria si besoin (MKCOL — ignoré si déjà existant)\n    try {\n      await this.helpers.httpRequest({\n        method: 'MKCOL', url: baseUrl,\n        headers: { 'Authorization': auth },\n        returnFullResponse: true, ignoreHttpStatusErrors: true\n      });\n    } catch(e) { /* dossier existe déjà — normal */ }\n    // Initialise le manifest si vide\n    const manifest = await getManifest();\n    if (!Array.isArray(manifest) || manifest.length === 0) {\n      await saveManifest([]);\n    }\n    return [{ json: { success: true, action: 'test' } }];\n  }\n\n  // ── LIST : lit le manifest ──\n  if (action === 'list') {\n    const manifest = await getManifest();\n    return [{ json: { success: true, files: manifest.map(n => ({ name: n })) } }];\n  }\n\n  // ── READ : lit un fichier bot ──\n  if (action === 'read') {\n    const r = await httpGet(baseUrl + encodeURIComponent(filename));\n    if (r.statusCode === 404) return [{ json: { success: false, error: 'Fichier introuvable' } }];\n    if (r.statusCode === 401) return [{ json: { success: false, error: 'Session expirée — reconnectez-vous' } }];\n    try {\n      const parsed = typeof r.body === 'string' ? JSON.parse(r.body) : r.body;\n      return [{ json: { success: true, content: parsed } }];\n    } catch(e) {\n      return [{ json: { success: false, error: 'Fichier corrompu : ' + e.message } }];\n    }\n  }\n\n  // ── WRITE : enregistre un fichier bot + met à jour le manifest ──\n  if (action === 'write') {\n    const data = typeof content === 'string' ? content : JSON.stringify(content, null, 2);\n    const r = await httpPut(baseUrl + encodeURIComponent(filename), data);\n    if (r.statusCode === 409) {\n      return [{ json: { success: false, error: 'Dossier Mentoria introuvable. Reconnectez-vous pour le créer.' } }];\n    }\n    if (r.statusCode === 401) return [{ json: { success: false, error: 'Session expirée' } }];\n    // Mise à jour du manifest\n    const manifest = await getManifest();\n    if (!manifest.includes(filename)) {\n      manifest.push(filename);\n      await saveManifest(manifest);\n    }\n    return [{ json: { success: true, action: 'write' } }];\n  }\n\n  // ── DELETE : supprime un fichier bot + met à jour le manifest ──\n  if (action === 'delete') {\n    await httpDelete(baseUrl + encodeURIComponent(filename));\n    const manifest = await getManifest();\n    await saveManifest(manifest.filter(n => n !== filename));\n    return [{ json: { success: true, action: 'delete' } }];\n  }\n\n  return [{ json: { success: false, error: 'Action inconnue : ' + action } }];\n\n} catch(e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "c1a2b3d4-e5f6-7890-aaaa-111111111102",
      "name": "Logique WebDAV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "c1a2b3d4-e5f6-7890-aaaa-111111111103",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Logique WebDAV", "type": "main", "index": 0 }]]
    },
    "Logique WebDAV": {
      "main": [[{ "node": "Répondre", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "c1a2b3d4-e5f6-7890-aaaa-111111111199",
  "meta": { "templateCredsSetupCompleted": true },
  "id": "mentoria-storage-002",
  "tags": []
}
