mentoria/mentoria_storage.json
{
  "name": "Mentoria Storage — Nuage apps.edu",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mentoria_storage",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "aa000001-0000-0000-0000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst { action, username, password, filename, content, manifest } = body;\nconst server = (body.server || 'nuage.apps.education.fr').replace(/^https?:\\/\\//, '').replace(/\\/$/, '');\n\nif (!username || !password) {\n  return [{ json: { success: false, error: 'Identifiants manquants' } }];\n}\n\nconst baseUrl = `https://${server}/remote.php/dav/files/${encodeURIComponent(username)}/mentoria/`;\nconst manifestUrl = baseUrl + 'manifest.json';\nconst auth = 'Basic ' + Buffer.from(`${username}:${password}`).toString('base64');\n\nconst doGet = async (url, extraHeaders = {}) => {\n  return await this.helpers.httpRequest({\n    method: 'GET', url,\n    headers: { 'Authorization': auth, ...extraHeaders },\n    returnFullResponse: true,\n    ignoreHttpStatusErrors: true\n  });\n};\n\nconst tryParseManifest = (r) => {\n  if (r.statusCode !== 200) return null;\n  try {\n    const parsed = typeof r.body === 'string' ? JSON.parse(r.body) : r.body;\n    return Array.isArray(parsed) ? parsed : null;\n  } catch { return null; }\n};\n\ntry {\n\n  // ── TEST ──\n  if (action === 'test') {\n    const debug = { server };\n    const ocsRes = await doGet(`https://${server}/ocs/v1.php/cloud/user?format=json`, { 'OCS-APIREQUEST': 'true' });\n    debug.ocs_status = ocsRes.statusCode;\n    if (ocsRes.statusCode === 401 || ocsRes.statusCode === 403) {\n      return [{ json: { success: false, error: \"Identifiants invalides — vérifiez votre mot de passe d'application.\", debug } }];\n    }\n    if (ocsRes.statusCode !== 200) {\n      return [{ json: { success: false, error: 'Erreur OCS: ' + ocsRes.statusCode, debug } }];\n    }\n    const getRes = await doGet(manifestUrl);\n    debug.get_manifest_status = getRes.statusCode;\n    debug.get_manifest_body = (typeof getRes.body === 'string' ? getRes.body : JSON.stringify(getRes.body)).substring(0, 80);\n    debug.manifest_valid = tryParseManifest(getRes) !== null;\n    return [{ json: { success: true, action: 'test', debug } }];\n  }\n\n  // ── LIST ──\n  if (action === 'list') {\n    const r = await doGet(manifestUrl);\n    const manifest = tryParseManifest(r) || [];\n    return [{ json: { success: true, files: manifest.map(n => ({ name: n })) } }];\n  }\n\n  // ── READ ──\n  if (action === 'read') {\n    if (!filename) return [{ json: { success: false, error: 'Nom de fichier manquant' } }];\n    const r = await doGet(baseUrl + encodeURIComponent(filename));\n    if (r.statusCode === 404) return [{ json: { success: false, error: 'Fichier introuvable' } }];\n    if (r.statusCode === 401) return [{ json: { success: false, error: 'Session expirée — reconnectez-vous' } }];\n    if (r.statusCode >= 400) return [{ json: { success: false, error: 'Erreur lecture (code ' + r.statusCode + ')' } }];\n    try {\n      const parsed = typeof r.body === 'string' ? JSON.parse(r.body) : r.body;\n      return [{ json: { success: true, content: parsed } }];\n    } catch(e) {\n      return [{ json: { success: false, error: 'Fichier corrompu : ' + e.message } }];\n    }\n  }\n\n  // ── WRITE — prépare le PUT (exécuté par les nœuds HTTP natifs suivants) ──\n  if (action === 'write') {\n    if (!filename) return [{ json: { success: false, error: 'Nom de fichier manquant' } }];\n    const fileContent = typeof content === 'string' ? content : JSON.stringify(content, null, 2);\n    return [{ json: {\n      _op: 'write',\n      authHeader: auth,\n      putUrl: baseUrl + encodeURIComponent(filename),\n      manifestUrl,\n      filename,\n      fileContent,\n      manifest: Array.isArray(manifest) ? manifest : null\n    } }];\n  }\n\n  // ── DELETE — prépare le DELETE (exécuté par les nœuds HTTP natifs suivants) ──\n  if (action === 'delete') {\n    if (!filename) return [{ json: { success: false, error: 'Nom de fichier manquant' } }];\n    return [{ json: {\n      _op: 'delete',\n      authHeader: auth,\n      deleteUrl: baseUrl + encodeURIComponent(filename),\n      manifestUrl,\n      filename\n    } }];\n  }\n\n  // ── FETCH URL ──\n  if (action === 'fetch_url') {\n    if (!body.url) return [{ json: { success: false, error: 'URL manquante' } }];\n    const res = await this.helpers.httpRequest({\n      method: 'GET',\n      url: body.url,\n      headers: { 'User-Agent': 'Mozilla/5.0 (compatible; Mentoria/2.7)' },\n      returnFullResponse: true,\n      ignoreHttpStatusErrors: true\n    });\n    if (res.statusCode >= 400) return [{ json: { success: false, error: 'Impossible de récupérer la page (code ' + res.statusCode + ')' } }];\n    const html = typeof res.body === 'string' ? res.body : JSON.stringify(res.body);\n    // Extraction texte : supprime balises, scripts, styles\n    const text = html\n      .replace(/<script[\\s\\S]*?<\\/script>/gi, '')\n      .replace(/<style[\\s\\S]*?<\\/style>/gi, '')\n      .replace(/<[^>]+>/g, ' ')\n      .replace(/&nbsp;/g, ' ').replace(/&amp;/g, '&').replace(/&lt;/g, '<').replace(/&gt;/g, '>')\n      .replace(/\\s{2,}/g, ' ').trim()\n      .substring(0, 50000);\n    return [{ json: { success: true, text } }];\n  }\n\n  return [{ json: { success: false, error: 'Action inconnue : ' + action } }];\n\n} catch(e) {\n  return [{ json: { success: false, error: e.message } }];\n}"
      },
      "id": "aa000001-0000-0000-0000-000000000002",
      "name": "Code Préparer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-write",
              "leftValue": "={{ $json._op }}",
              "rightValue": "write",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000003",
      "name": "IF Est Écriture",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-delete",
              "leftValue": "={{ $json._op }}",
              "rightValue": "delete",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000004",
      "name": "IF Est Suppression",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [900, 420]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.putUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" },
            { "name": "Content-Type", "value": "application/octet-stream" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json.fileContent }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000005",
      "name": "HTTP PUT Fichier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 180]
    },
    {
      "parameters": {
        "url": "={{ $('Code Préparer').first().json.manifestUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $('Code Préparer').first().json.authHeader }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000006",
      "name": "HTTP GET Manifest W",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 180]
    },
    {
      "parameters": {
        "jsCode": "const putResult = $('HTTP PUT Fichier').first().json;\nconst prep = $('Code Préparer').first().json;\n\nif (putResult.statusCode === 404 || putResult.statusCode === 409) {\n  return [{ json: { success: false, error: 'Dossier mentoria introuvable. Reconnectez-vous.' } }];\n}\nif (putResult.statusCode === 401) {\n  return [{ json: { success: false, error: 'Session expirée — reconnectez-vous' } }];\n}\nif (putResult.statusCode >= 400) {\n  return [{ json: { success: false, error: 'Erreur écriture (code ' + putResult.statusCode + ')' } }];\n}\n\n// Le client envoie la liste complète des fichiers — plus fiable que de lire le manifest depuis le Nuage\nlet manifest = Array.isArray(prep.manifest) ? prep.manifest : [prep.filename];\nif (!manifest.includes(prep.filename)) manifest.push(prep.filename);\n\nreturn [{ json: {\n  _writeOk: true,\n  authHeader: prep.authHeader,\n  manifestUrl: prep.manifestUrl,\n  updatedManifest: JSON.stringify(manifest)\n} }];"
      },
      "id": "aa000001-0000-0000-0000-000000000007",
      "name": "Code Mise à jour Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 180]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "cond-writeok",
              "leftValue": "={{ $json._writeOk }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa000001-0000-0000-0000-000000000008",
      "name": "IF Écriture OK",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1560, 180]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.manifestUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" },
            { "name": "Content-Type", "value": "application/octet-stream" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json.updatedManifest }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000009",
      "name": "HTTP PUT Manifest W",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 180]
    },
    {
      "parameters": {
        "jsCode": "const r = $input.first().json;\nconst manifestData = $('Code Mise à jour Manifest').first().json;\nif (r.statusCode && r.statusCode >= 400) {\n  return [{ json: { success: false, error: 'Erreur sauvegarde manifest (code ' + r.statusCode + ')', debug: manifestData.debug } }];\n}\nreturn [{ json: { success: true, action: 'write', debug: manifestData.debug } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000010",
      "name": "Code Réponse Écriture",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 180]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{ $json.deleteUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000011",
      "name": "HTTP DELETE Fichier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 420]
    },
    {
      "parameters": {
        "url": "={{ $('Code Préparer').first().json.manifestUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $('Code Préparer').first().json.authHeader }}" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000012",
      "name": "HTTP GET Manifest D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 420]
    },
    {
      "parameters": {
        "jsCode": "const getResult = $input.first().json;\nconst prep = $('Code Préparer').first().json;\n\nlet manifest = [];\nif (getResult.statusCode === 200) {\n  try {\n    const parsed = typeof getResult.body === 'string' ? JSON.parse(getResult.body) : getResult.body;\n    if (Array.isArray(parsed)) manifest = parsed;\n  } catch(e) {}\n}\n\nreturn [{ json: {\n  authHeader: prep.authHeader,\n  manifestUrl: prep.manifestUrl,\n  updatedManifest: JSON.stringify(manifest.filter(n => n !== prep.filename))\n} }];"
      },
      "id": "aa000001-0000-0000-0000-000000000013",
      "name": "Code Filtrer Manifest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 420]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $json.manifestUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{ $json.authHeader }}" },
            { "name": "Content-Type", "value": "application/octet-stream" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $json.updatedManifest }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000014",
      "name": "HTTP PUT Manifest D",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 420]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: true, action: 'delete' } }];"
      },
      "id": "aa000001-0000-0000-0000-000000000015",
      "name": "Code Réponse Suppression",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 420]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" },
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "aa000001-0000-0000-0000-000000000016",
      "name": "Répondre",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2220, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Code Préparer", "type": "main", "index": 0 }]]
    },
    "Code Préparer": {
      "main": [[{ "node": "IF Est Écriture", "type": "main", "index": 0 }]]
    },
    "IF Est Écriture": {
      "main": [
        [{ "node": "HTTP PUT Fichier", "type": "main", "index": 0 }],
        [{ "node": "IF Est Suppression", "type": "main", "index": 0 }]
      ]
    },
    "IF Est Suppression": {
      "main": [
        [{ "node": "HTTP DELETE Fichier", "type": "main", "index": 0 }],
        [{ "node": "Répondre", "type": "main", "index": 0 }]
      ]
    },
    "HTTP PUT Fichier": {
      "main": [[{ "node": "HTTP GET Manifest W", "type": "main", "index": 0 }]]
    },
    "HTTP GET Manifest W": {
      "main": [[{ "node": "Code Mise à jour Manifest", "type": "main", "index": 0 }]]
    },
    "Code Mise à jour Manifest": {
      "main": [[{ "node": "IF Écriture OK", "type": "main", "index": 0 }]]
    },
    "IF Écriture OK": {
      "main": [
        [{ "node": "HTTP PUT Manifest W", "type": "main", "index": 0 }],
        [{ "node": "Répondre", "type": "main", "index": 0 }]
      ]
    },
    "HTTP PUT Manifest W": {
      "main": [[{ "node": "Code Réponse Écriture", "type": "main", "index": 0 }]]
    },
    "Code Réponse Écriture": {
      "main": [[{ "node": "Répondre", "type": "main", "index": 0 }]]
    },
    "HTTP DELETE Fichier": {
      "main": [[{ "node": "HTTP GET Manifest D", "type": "main", "index": 0 }]]
    },
    "HTTP GET Manifest D": {
      "main": [[{ "node": "Code Filtrer Manifest", "type": "main", "index": 0 }]]
    },
    "Code Filtrer Manifest": {
      "main": [[{ "node": "HTTP PUT Manifest D", "type": "main", "index": 0 }]]
    },
    "HTTP PUT Manifest D": {
      "main": [[{ "node": "Code Réponse Suppression", "type": "main", "index": 0 }]]
    },
    "Code Réponse Suppression": {
      "main": [[{ "node": "Répondre", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "c1a2b3d4-e5f6-7890-aaaa-111111111200",
  "meta": { "templateCredsSetupCompleted": true },
  "id": "mentoria-storage-003",
  "tags": []
}
